@import url("style.css");

.banner {
    background-image: url("/images/cafes_1.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
}

.maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 24px;
}

.map {
    margin: 24px;
}

.footer {
    position: fixed;
}