
/* font-family: 'Dancing Script', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Quicksand', sans-serif; */

body {
    margin: 0px !important;
    background-color: #efe9ce;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-image: url();
}

h3 {
    font-size: 24px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.bodytext {
    margin: 50px 100px;
    font-family: 'Quicksand', cursive;
    font-size: large;
}

.page-container {
    margin-bottom: 70px; 
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: baseline; */
    padding: 16px;
}

nav .logo {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
}

nav ul li {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 8px 20px;
}

nav ul li.active {
    background-color: black;
}

nav ul li a {
    color: brown;
    text-decoration: none;
}

nav ul li.active {
    background-color: #efe9ce;
    text-decoration: underline;
}

.container {
    display: flex;
}

.container a {
    
    text-align: center;
    padding: 150px 0;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
    font-weight: weight;
    color: brown;
    flex: 50%;
}

.container .cafes {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: aliceblue;
    margin: 10px 5px 10px 30px;
    background-image: url("/images/cafes.jpg");
}

.container .source {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: aliceblue;
    background-image: url("/images/sources.jpg");
    margin: 10px 30px 10px 5px;
}

.text {
    margin: 70px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 5px;
    background-color: burlywood;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

.text::before {
    display: inline-block;
    content: open-quote;
    color: brown;
    font-size: 32px;
}

.text::after {
    display: inline-block;
    content: close-quote;
    color: brown;
    font-size: 32px;
}

.equipments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipment {
    flex-basis: 325px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
}

.equipment h4 {
    font-size: 20px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.equipment .price {
    font-size: larger;
    font-weight: bold;
}

.equipment p {
    padding: 0px 12px;
    font-family: 'Quicksand', sans-serif;
}

.equipment img:hover {
    transform: scale(0.95);
    opacity: 0.9;
}

.equipment button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: burlywood;
    color: brown;
    text-align: center;
    padding: 24px;
}


/* Phones */

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .container a {
        flex: 100%;
    }

    .container .cafes {
        margin: 10px;
    }

    .container .source {
        margin: 10px;
    }
}